@model Usama_127_Task.Models.OrderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.description_quantity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.description_quantity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.item_price)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.item_price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
