@model IEnumerable<Usama_127_Task.Models.OrderModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item_price)
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description_quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item_price)
            </td>
            <td>
                @{ var total = item.description_quantity * item.item_price;}
               @total
               
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="DeleteOrder" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
